.header {
	&__body {
		position: relative;
	}
	&__content {
	}
	&__logo {
		&:hover {
		}
		&:active {
		}
		&:focus {
		}
	}
	img {
	}
	&__title {
	}
	&__button {
		position: absolute;
		right: 90px;
		&:hover {
		}
		&:active {
		}
		&:focus {
		}
	}
	&__burger {
		span {
		}
	}
	&__menu {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 280px;
		width: 450px;
		padding: 0;
		left: auto;
	}
	&__list {
	}
	&__li {
		&:hover {
			.header__link {
				color: #fff;
			}
			&::before {
				content: '';
				position: absolute;
				left: 0px;
				bottom: -38px;
				display: block;
				width: 100%;
				height: 8px;
				background-color: #8d81ac;
			}
		}
	}
	&__link {
		&:hover {
		}
		&:active {
		}
		&:focus {
		}
	}
}
