@import "header-lg";
@import "people-lg";
@import "fork-app-lg";
.revol-editor {
	padding: 129px 200px 70px 200px;
	&__description {
		font-size: 15pt;
		padding: 38px 0 16px 0;
	}
}
.main-content {
	&__title {
		white-space: nowrap;
		font-size: 39pt;
		text-transform: uppercase;
	}
}
.here-is {
	&__title {
		margin-bottom: 0;
		font-size: 28pt;
		text-transform: none;
	}
}
.post {
	margin-bottom: 0;
	&__title {
		margin-top: 0;
	}
	&__text {
		max-width: 350px;
		height: auto;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin-right: 20px;
	}
	&__description {
		text-align: left;
	}
}
.grid {
	&__container {
		display: grid;
		padding: 100px 0 69px 30px;
	}
}
.fork-pricing {
	&__title {
		text-transform: none;
	}
}

.prices {
	flex-wrap: nowrap;
	&__item:first-child{
		margin-right: 13px;
	}
	&-card {
		margin-right: 13px;
		&:last-of-type {
			margin-right: 0;
		}
	}
}
