.fork-app {
	padding-top: 135px;
	&__title {
	}
	.description__text {
		display: flex;
		flex-direction: row;
	}
	&__description {
		display: inline;
	}
	&__bottom-side {
	}
	&-button.button {
		&:hover {
		}
		&:active {
		}
		&:focus {
		}
	}
}

.description__version {
	color: #848e97;
}
