.header {
	position: absolute;
	&__body {
	}
	&__content {
	}
	&__logo {
		height: fit-content;
		display: flex;
		align-items: center;
		&:hover {
		}
		&:active {
		}
		&:focus {
		}
	}
	img {
		display: block;
	}
	&__title {
		display: block;
		font-size: 24pt;
		color: #8d81ac;
		text-transform: uppercase;
		margin-left: 17px;
	}
	&__button {
		&:hover {
		}
		&:active {
		}
		&:focus {
		}
	}
	&__burger {
		display: none;
		span {
		}
	}
	&__menu {
		position: absolute;

		padding-bottom: 15px;
		top: 100px;
		opacity: 1;
		height: fit-content;
		margin: 0;
		background-color: #27262a;
	}
	&__list {
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-evenly;
	}
	&__li {
		height: fit-content;
		margin-left: 0;
		width: fit-content;
		&:hover {
			.header__link {
				color: #fff;
			}
			&::before {
				content: '';
				position: absolute;
				left: 0px;
				bottom: -15px;
				display: block;
				width: 100%;
				height: 8px;
				background-color: #8d81ac;
			}
		}
	}
	&__link {
		color: #8d81ac;
		font-size: 13pt;
		font-weight: bold;

		&:hover {
		}
		&:active {
		}
		&:focus {
		}
	}
}
.button {
}
