.people {
	&__title {
	}
	&__grid-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 70px 90px;
		// grid-template-areas: 'item1 item1' 'item2 item3' 'item4 item5' 'item6 item7' 'item8 item8' &__title {
		// 	grid-auto-rows: 100px;
	}
	&__item {
	}
	&__img {
	}
	&__descr {
	}
	&__description {
		display: inline-block;
		opacity: 0.8;
		color: #a291a5;
		text-align: center;
	}
}
// .people__grid-item1 {
// 	grid-area: item1;
// }
// .people__grid-item2 {
// 	grid-area: item2;
// }
// .people__grid-item3 {
// 	grid-area: item3;
// }
// .people__grid-item4 {
// 	grid-area: item4;
// }
// .people__grid-item5 {
// 	grid-area: item5;
// }
// .people__grid-item6 {
// 	grid-area: item6;
// }
// .people__grid-item7 {
// 	grid-area: item7;
// }
// .people__grid-item8 {
// 	grid-area: item8;
// }
