@import "header-md";
@import "people-md";
@import "fork-app-md";
.info-buttons {
	flex-direction: row;
}
.revol-editor {
	padding: 158px 47px 98px 47px;
	&__description {
		font-size: 15pt;
		padding: 38px 0 16px 0;
	}
}
.main-content {
	&__title {
		width: 100%;
		font-size: 30pt;
		text-transform: uppercase;
	}
}

.post {
	flex-direction: row;
	&__img-wrap {
		min-width: 110px;
		height: auto;
		margin-right: 23px;
	}
}
.title {
	&-bot-margin {
		margin-bottom: 60px;
	}
	&-normal {
		text-transform: none;
	}
}

.fork-pricing {
	background-color: unset;
	background-image: url("../images/fork-pricing-section/bg.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	&__title {
		text-transform: none;
	}
}
.prices {
	&__item {
		&:first-child {
			margin-right: 41px;
		}
	}
	&-card {
		width: 45%;
		height: auto;
		flex-grow: 2;
		flex-shrink: 1;
		&-lg {
			margin-right: 16px;
		}
	}
}

.test {
	margin: 0;
	padding: 23px;
}
