.fork-app {
	position: relative;
	padding-top: 103px;
	color: white;
	background-image: url(../images/fork-app/fork-bg-full.png);
	background-repeat: no-repeat;
	background-position: 50% 10%;
	height: 610px;
	&__top-side {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 35%;
		&:last-child {
			padding-bottom: 0;
		}
	}
	&__title {
		@include font-source-sans(35pt, white, bold);
		margin-bottom: 20px;
	}
	.description__text {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	&__description {
		@include font-source-sans(13pt, #8d81ac);
		padding-bottom: 15px;
	}
	&__bottom-side {
		height: 65%;
		&::after {
			content: 'Unlimited 30-Days Trial Period';
			position: absolute;
			width: fit-content;
			bottom: -45px;
			left: 0;
			right: 0;
			margin: auto;
			@include font-source-sans(13pt, #848E97);
		}
	}
	&-button {
		width: 290px;
		height: 45px;
		position: absolute;
		bottom: -22px;
		left: 0;
		right: 0;
		margin: auto;
		@include font-source-sans(13pt, white, bold);
		&:hover {
		}
		&:active {
		}
		&:focus {
		}
	}
}
