.container {
}
a {
	font-style: none;
	outline: none;
	text-decoration: none;
	text-transform: capitalize;
	// color: white;
}
.header {
	position: fixed;
	width: 100%;
	height: 103px;
	top: 0;
	left: 0;
	z-index: 50;
	background-color: #27262a;
	&__body {
		padding: 0px 15px;
		height: 100%;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__content {
	}
	&__title {
		display: none;
	}
	&__burger {
		height: 26px;
		width: 26px;
		position: relative;
		& span {
			position: absolute;
			top: 50%;
			margin-top: -1px;
			background-color: white;
			width: 26px;
			height: 2px;

			&::before,
			&::after {
				content: '';
				position: absolute;
				height: 2px;
				background-color: #fff;
			}
			&::before {
				width: 20px;
				right: 0;
				transform: translateY(-8px);
			}
			&::after {
				width: 26px;

				transform: translateY(8px);
			}
		}
	}

	&__button {
		width: 119px;
		height: 37px;
		@include font-source-sans(13pt, white, bold);
		&:hover {
		}
		&:active {
		}
		&:focus {
		}
	}
	&__menu {
		position: fixed;
		opacity: 0;
		height: 0;
		top: 103px;
		display: flex;
		background-color: #333333;
		left: 0;
		right: 0;
		margin: 0px 15px;
		transition: all 0.3s ease 0s;
		overflow: hidden;
		&_active {
			opacity: 1;
			height: fit-content;
		}
	}
	&__logo {
		img {
		}
		&:hover {
		}
		&:active {
		}
		&:focus {
		}
	}

	&__list {
		width: 100%;
	}
	&__li {
		position: relative;
		height: 100%;
		display: flex;
		align-items: center;
		margin-left: 38px;
		list-style: none;
		height: 90px;
		width: 100%;
		&:hover {
			.header__link {
				color: #8d81ac;
			}
			&::before {
				content: '';
				position: absolute;
				left: -38px;
				display: block;
				width: 8px;
				height: 53px;
				background-color: #8d81ac;
			}
		}
	}
	&__link {
		color: white;
		line-height: 20pt;
		@include font-source-sans(19pt, #ffffff);

		&:hover {
		}
		&:active {
		}
		&:focus {
		}
	}
}
.button {
	background-color: #8d81ac;
	border-radius: 20px;
	outline: none;
	margin: 0;
	border: none;
	text-transform: capitalize;
	font-weight: bold;
	color: white;
	&:active {
		margin-bottom: -2px;
		background-color: #8170ac;
		margin-top: 2px;
	}
}
