
.main-content{
  &__title{
    @include font-source-sans(19pt, rgba(99, 92, 115, 255), bold);
    text-transform: uppercase;
    text-align: center;
  }
}
.title{
  &-brighter{
    color: rgba(141, 129, 172, 255);
  }
  &-bot-margin{
    margin-bottom: 34px;
  }
  &-normal{
    text-transform: none;
  }
}
.revol-editor{
  padding: 120px 25px 88px 25px;
  text-align: center;

  &__description{
    @include font-source-sans(10pt, rgba(50, 50, 50, 255));
    padding: 23px 0 14px 0;
  }
}

.info-buttons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  &__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__widget {
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    font-size: 0;
    line-height: 0;
    white-space: nowrap;
    margin-top: 20px;
    &:last-child {
      margin-left: 10px;
    }
  }
}

.btn,.social-count{
  position:relative;
  display:inline-block;
  padding:2px 5px;
  font-size:11px;
  font-weight:600;line-height:14px;vertical-align:bottom;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-repeat:repeat-x;background-position:-1px -1px;background-size:110% 110%;border:1px solid}
.btn{border-radius:.25em}
.btn:not(:last-child){border-radius:.25em 0 0 .25em}
.social-count{border-left:0;border-radius:0 .25em .25em 0}
.widget-lg .btn,.widget-lg .social-count{height:20px;padding:3px 10px;font-size:12px;line-height:20px}.octicon{display:inline-block;vertical-align:text-top;fill:currentColor}
.btn{color:#24292e;background-color:#eff3f6;border-color:#c5c9cc;border-color:rgba(27,31,35,.2);background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg'%3e%3clinearGradient id='o' x2='0' y2='1'%3e%3cstop stop-color='%23fafbfc'/%3e%3cstop offset='90%25' stop-color='%23eff3f6'/%3e%3c/linearGradient%3e%3crect width='100%25' height='100%25' fill='url(%23o)'/%3e%3c/svg%3e");background-image:-moz-linear-gradient(top, #fafbfc, #eff3f6 90%);background-image:linear-gradient(180deg, #fafbfc, #eff3f6 90%);filter:progid:DXImageTransform.Microsoft.Gradient(startColorstr='#FFFAFBFC', endColorstr='#FFEEF2F5')}:root .btn{filter:none}.btn:focus,.btn:hover{background-color:#e6ebf1;background-position:-0.5em;border-color:#9fa4a9;border-color:rgba(27,31,35,.35);background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg'%3e%3clinearGradient id='o' x2='0' y2='1'%3e%3cstop stop-color='%23f0f3f6'/%3e%3cstop offset='90%25' stop-color='%23e6ebf1'/%3e%3c/linearGradient%3e%3crect width='100%25' height='100%25' fill='url(%23o)'/%3e%3c/svg%3e");background-image:-moz-linear-gradient(top, #f0f3f6, #e6ebf1 90%);background-image:linear-gradient(180deg, #f0f3f6, #e6ebf1 90%);filter:progid:DXImageTransform.Microsoft.Gradient(startColorstr='#FFF0F3F6', endColorstr='#FFE5EAF0')}:root .btn:focus,:root .btn:hover{filter:none}.btn:active{background-color:#e9ecef;border-color:#a1a4a8;border-color:rgba(27,31,35,.35);box-shadow:inset 0 .15em .3em rgba(27,31,35,.15);background-image:none;filter:none}.social-count{color:#24292e;background-color:#fff;border-color:#d1d2d3;border-color:rgba(27,31,35,.2)}.social-count:focus,.social-count:hover{color:#0366d6}
.octicon-heart{color:#ea4aaa}

.here-is{
  background-color: #f4f4f4;
  &__title{
      color: rgba(141, 129, 172, 255);
      margin-bottom: 34px;
      text-transform: none;
  }
  &__post{

  }
  &__code-screen {
    img {
      float: left;
      margin-left: -24px;
    }
  }
}

.clear{
  clear: both;
}
.grid{
  &__item1{
    grid-area: item1;
  }
  &__item2{
    grid-area: item2;
  }
  &__item3{
    grid-area: item3;
  }
  &__item4{
    grid-area: item4;
  }
  &__item5{
    grid-area: item5;
  }
  &__item6{
    grid-area: item6;
  }
  &__container{
    padding: 34px 24px 20px 24px;
    //display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 400px));
    grid-template-rows: repeat(auto-fill, minmax(110px, 110px));
    grid-row-gap: 34px;
    grid-column-gap: 115px;
    grid-template-areas:
            "item2  item1"
            "item3  item6"
            "item4  item6"
            "item5  item6"
            ;
  }
}
.post{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 40px;

  &  img{
    width: min-content;
  }
  &__title{
    @include font-source-sans(11pt, rgba(50, 50, 50, 255));
    margin: 29px 0 20px 0;
  }
  &__description{
    @include font-source-sans(10pt, rgba(132, 142, 151, 255))
  }
}

.fork-pricing{
  background-color: #4a3b4e;
  &__content{
    padding: 71px 5px 93px;
  }
  &__title{
    @include font-source-sans(20pt, white, bold);
    margin-bottom: 53px;
    text-transform: none;
  }
}

.prices{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  &__item{
    text-align: center;
    width: 100%;
    max-width: 257px;
    flex-grow: 1;
    flex-shrink: 2;
    &-lg{
      align-self: center;
    }
  }
  &-card{
    margin-bottom: 14px;
    &-lg{
      width: 100%;
      max-width: 299px;
      flex-shrink: 2;
      text-align: center;
    }
    &__name{
      padding: 46px 0 34px;
      @include font-source-sans(17pt, white);
      background-color: rgba(128,128,128, .3);
      text-transform: uppercase;
      &-lg{
        @extend .prices-card__name;
        background-color: rgba(0,0,0,.3);
        padding: 51px 0 43px;
      }
    }
    &__details{
      height: 360px;
      padding: 32px 0 0;
      background-color: rgba(128,128,128, .2);
      &-lg{
        padding: 15px 0 47px;
        background-color: rgba(0,0,0,.2);
      }
    }
    &__price{
      @include font-source-sans(43pt, white, bold);
      &-lg{
       @include font-source-sans(50pt, white, bold);
      }
    }
    &__payment{
      @include font-source-sans(10pt, rgba(255, 255, 255, .4));
      text-transform: uppercase;
      padding: 24px 0 39px;
      &-lg{
        @extend .prices-card__payment;
        padding: 21px 0 49px;
      }
    }
    &__line{
      width: 60px;
      height: 5px;
      background-color: #8d81ac;
      margin: 0 auto 31px;
    }
    &__info{
      @include font-source-sans(12pt, #bfb9c0);
      margin-bottom: 68px;
      &-lg{
        @extend .prices-card__info;
        padding: 41px 0 82px;
        margin: 0;
      }
    }
    &__purchase-button{
      padding: 16px 38px;
      background-color: #776b79;
      outline: none;
      border: none;
      border-radius: 24px;
      @include font-source-sans(11pt,white);
      text-transform: uppercase;
      &:hover{
        transition: .3s;
        background-color: #cecbcf;
        color: #7f6d78;
      }
      &-lg{
        @extend .prices-card__purchase-button;
        padding: 21px 49px;
        border-radius: 29px;
      }
    }
  }
}
