@mixin font-source-sans($size: false, $colour: false, $weight: false, $style: false, $lh: false) {
  font-family: AdobeInvisFont, ﻿Montserrat-Bold, ﻿Courier, sans-serif;
  @if $size { font-size: $size; }
  @if $colour { color: $colour; }
  @if $weight { font-weight: $weight; }
  @if $style {font-style: $style}
  @if $lh { line-height: $lh; }
}