.people {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;

	background-image: url(../images/people/people-bg-full.png);
	background-repeat: no-repeat;
	background-position: 50% 0;
	background-color: #4b3b4e;
	padding: 60px 20px 15px 20px;
	border-bottom: 1px solid #5c5c5c;
	&__title {
		margin-bottom: 49px;
		@include font-source-sans(26pt, white, bold);
		line-height: 35pt;
		text-transform: capitalize;
		text-align: center;
	}
	&__item {
		min-height: 240px;
		// margin-bottom: 45px;
		display: flex;
		align-content: center;
		justify-content: space-around;
		flex-direction: column;
	}
	&__img {
		width: fit-content;
		margin: 0 auto;
		margin-bottom: 20px;
	}
	&__descr {
		text-align: center;
		@include font-source-sans(15pt, white, bold, italic);
		opacity: 0.8;
		font-family: Lato;
		line-height: 27px;
	}
	&__description {
		display: none;
	}
}
