@import "variables";
@import "mixins";
@import "header-styles";
@import "main-content-styles";
@import "footer-styles";
@import "people-styles";
@import "fork-app";

.container {
	padding: 0 10px 0 10px;
	overflow: hidden;
}
